In [1]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [2]:
# set the midpoint
x += 2  # shorthand for x = x + 2
midpoint = 5

NameError: name 'x' is not defined

In [3]:
x = 1
# set the midpoint
x += 2  # shorthand for x = x + 2
midpoint = 5

In [4]:
x = 1 + 2 + 3 + 4 +\
    5 + 6 + 7 + 8

In [5]:
x = (1 + 2 + 3 + 4 +
     5 + 6 + 7 + 8)

In [6]:
lower = []
upper = []

for i in range(10):
    if i < midpoint:
        lower.append(i)
    else:
        upper.append(i)

In [7]:
for i in range(100):
    # indentation indicates code block
    total += i

NameError: name 'total' is not defined

In [8]:
total =0
for i in range(100):
    # indentation indicates code block
    total += i

In [9]:
x=1+2
x = 1 + 2
x             =        1    +                2

In [10]:
x=10**-2

In [11]:
x = 10 ** -2

In [12]:
print(x)

0.01

In [13]:
2 * (3 + 4)

14

In [14]:
print('first value:', 1)

first value: 1

In [15]:
print('second value:', 2)

second value: 2

In [16]:
L = [4,2,3,1]
L.sort()
print(L)

[1, 2, 3, 4]

In [17]:
print "first value:", 1

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("first value:", 1)? (<ipython-input-17-7f318e735c22>, line 1)

In [18]:
print ("first value:", 1)

first value: 1

In [19]:
# assign 4 to the variable x
x = 4

In [20]:
x = 4

In [21]:
x = 1         # x is an integer
x = 'hello'   # now x is a string
x = [1, 2, 3] # now x is a list

In [22]:
x = [1, 2, 3]
y = x

In [23]:
print(y)

[1, 2, 3]

In [24]:
x.append(4) # append 4 to the list pointed to by x
print(y) # y's list is modified as well!

[1, 2, 3, 4]

In [25]:
x = 'something else'
print(y)  # y is unchanged

[1, 2, 3, 4]

In [26]:
x = 10
y = x
x += 5  # add 5 to x's value, and assign it to x
print("x =", x)
print("y =", y)

x = 15
y = 10

In [27]:
x = 4
type(x)

int

In [28]:
x = 'hello'
type(x)

str

In [29]:
x = 3.14159
type(x)

float

In [30]:
L = [1, 2, 3]
L.append(100)
print(L)

[1, 2, 3, 100]

In [31]:
x = 4.5
print(x.real, "+", x.imag, 'i')

4.5 + 0.0 i

In [32]:
x = 4.5
x.is_integer()

False

In [33]:
x = 4.0
x.is_integer()

True

In [34]:
type(x.is_integer)

builtin_function_or_method

In [35]:
# addition, subtraction, multiplication
(4 + 8) * (6.5 - 3)

42.0

In [36]:
# True division
print(11 / 2)

5.5

In [37]:
# Floor division
print(11 // 2)

5

In [38]:
# Floor division
print(11 / 2)

5.5

In [39]:
bin(10)

'0b1010'

In [40]:
bin(4)

'0b100'

In [41]:
4 | 10

14

In [42]:
bin(4 | 10)

'0b1110'

In [43]:
a = 24
print(a)

24

In [44]:
a + 2

26

In [45]:
a += 2  # equivalent to a = a + 2
print(a)

26

In [46]:
# 25 is odd
25 % 2 == 1

True

In [47]:
# 66 is odd
66 % 2 == 1

False

In [48]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

In [49]:
-1 == ~0

True

In [50]:
x = 4
(x < 6) and (x > 2)

True

In [51]:
(x > 10) or (x % 2 == 0)

True

In [52]:
not (x < 6)

False

In [53]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

In [54]:
a = [1, 2, 3]
b = [1, 2, 3]

In [55]:
a == b

True

In [56]:
a is b

False

In [57]:
a is not b

True

In [58]:
a = [1, 2, 3]
b = a
a is b

True

In [59]:
1 in [1, 2, 3]

True

In [60]:
2 not in [1, 2, 3]

False

In [61]:
x = 1
type(x)

int

In [62]:
2 ** 200

1606938044258990275541962092341162602522202993782792835301376

In [63]:
5 / 2

2.5

In [64]:
# Python 2 behavior
>>> 5 / 2
2

2

In [65]:
5 // 2

2

In [66]:
x = 0.000005
y = 5e-6
print(x == y)

True

In [67]:
x = 1400000.00
y = 1.4e6
print(x == y)

True

In [68]:
float(1)

1.0

In [69]:
0.1 + 0.2 == 0.3

False

In [70]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

In [71]:
complex(1, 2)

(1+2j)

In [72]:
1 + 2j

(1+2j)

In [73]:
c = 3 + 4j

In [74]:
c.real  # real part

3.0

In [75]:
c.imag  # imaginary part

4.0

In [76]:
c.conjugate()  # complex conjugate

(3-4j)

In [77]:
abs(c)  # magnitude, i.e. sqrt(c.real ** 2 + c.imag ** 2)

5.0

In [78]:
message = "what do you like?"
response = 'spam'

In [79]:
len(response)

4

In [80]:
# Make upper-case. See also str.lower()
response.upper()

'SPAM'

In [81]:
# Capitalize. See also str.title()
message.capitalize()

'What do you like?'

In [82]:
# concatenation with +
message + response

'what do you like?spam'

In [83]:
# multiplication is multiple concatenation
5 * response

'spamspamspamspamspam'

In [84]:
# Access individual characters (zero-based indexing)
message[0]

'w'

In [85]:
type(None)

NoneType

In [86]:
return_value = print('abc')

abc

In [87]:
print(return_value)

None

In [88]:
result = (4 < 5)
result

True

In [89]:
type(result)

bool

In [90]:
print(True, False)

True False

In [91]:
bool(2014)

True

In [92]:
bool(0)

False

In [93]:
bool(3.1415)

True

In [94]:
bool(None)

False

In [95]:
bool("")

False

In [96]:
bool("abc")

True

In [97]:
bool([1, 2, 3])

True

In [98]:
bool([])

False

In [99]:
L = [2, 3, 5, 7]

In [100]:
# Length of a list
len(L)

4

In [101]:
# Append a value to the end
L.append(11)
L

[2, 3, 5, 7, 11]

In [102]:
# Addition concatenates lists
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [103]:
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [104]:
L = [1, 'two', 3.14, [0, 3, 5]]

In [105]:
L = [2, 3, 5, 7, 11]

In [106]:
L[0]

2

In [107]:
L[1]

3

In [108]:
L[-1]

11

In [109]:
L[-2]

7

In [110]:
L[0:3]

[2, 3, 5]

In [111]:
L[:3]

[2, 3, 5]

In [112]:
L[-3:]

[5, 7, 11]

In [113]:
L[::2]  # equivalent to L[0:len(L):2]

[2, 5, 11]

In [114]:
L[::-1]

[11, 7, 5, 3, 2]

In [115]:
L[0] = 100
print(L)

[100, 3, 5, 7, 11]

In [116]:
L[1:3] = [55, 56]
print(L)

[100, 55, 56, 7, 11]

In [117]:
t = (1, 2, 3)

In [118]:
t = 1, 2, 3
print(t)

(1, 2, 3)

In [119]:
len(t)

3

In [120]:
t[0]

1

In [121]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [122]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [123]:
l = list(t)

In [124]:
l.append(4)

In [125]:
t = tuple(l)

In [126]:
t[1]=4

TypeError: 'tuple' object does not support item assignment

In [127]:
print(t)

(1, 2, 3, 4)

In [128]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [129]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [130]:
numbers = {'one':1, 'two':2, 'three':3}

In [131]:
# Access a value via the key
numbers['two']

2

In [132]:
# Set a new key:value pair
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

In [133]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [134]:
# union: items appearing in either
primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [135]:
# intersection: items appearing in both
primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [136]:
# intersection: items appearing in both
primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [137]:
# difference: items in primes but not in odds
primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [138]:
# symmetric difference: items appearing in only one set
primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

In [139]:
x = -15

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-15 is negative

In [140]:
for N in [2, 3, 5, 7]:
    print(N, end=' ') # print all on same line

2 3 5 7

In [141]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [142]:
# range from 5 to 10
list(range(5, 10))

[5, 6, 7, 8, 9]

In [143]:
# range from 0 to 10 by 2
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [144]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [145]:
for n in range(20):
    # if the remainder of n / 2 is 0, skip the rest of the loop
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

In [146]:
a, b = 0, 1
amax = 100
L = []

while True:
    (a, b) = (b, a + b)
    if a > amax:
        break
    L.append(a)

print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [147]:
L = []
nmax = 30

for n in range(2, nmax):
    for factor in L:
        if n % factor == 0:
            break
    else: # no break
        L.append(n)
print(L)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [148]:
print('abc')

abc

In [149]:
print(1, 2, 3)

1 2 3

In [150]:
print(1, 2, 3, sep='--')

1--2--3

In [151]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [152]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [153]:
def real_imag_conj(val):
    return val.real, val.imag, val.conjugate()

r, i, c = real_imag_conj(3 + 4j)
print(r, i, c)

3.0 4.0 (3-4j)

In [154]:
def fibonacci(N, a=0, b=1):
    L = []
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [155]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [156]:
fibonacci(10, 0, 2)

[2, 2, 4, 6, 10, 16, 26, 42, 68, 110]

In [157]:
fibonacci(10, b=3, a=1)

[3, 4, 7, 11, 18, 29, 47, 76, 123, 199]

In [158]:
def catch_all(*args, **kwargs):
    print("args =", args)
    print("kwargs = ", kwargs)

In [159]:
catch_all(1, 2, 3, a=4, b=5)

args = (1, 2, 3)
kwargs =  {'a': 4, 'b': 5}

In [160]:
catch_all('a', keyword=2)

args = ('a',)
kwargs =  {'keyword': 2}

In [161]:
inputs = (1, 2, 3)
keywords = {'pi': 3.14}

catch_all(*inputs, **keywords)

args = (1, 2, 3)
kwargs =  {'pi': 3.14}

In [162]:
add = lambda x, y: x + y
add(1, 2)

3

In [163]:
    return x + y

SyntaxError: 'return' outside function (<ipython-input-163-c1ba9a83a498>, line 1)

In [164]:
def add(x, y):
    return x + y

In [165]:
data = [{'first':'Guido', 'last':'Van Rossum', 'YOB':1956},
        {'first':'Grace', 'last':'Hopper',     'YOB':1906},
        {'first':'Alan',  'last':'Turing',     'YOB':1912}]

In [166]:
sorted([2,4,3,5,1,6])

[1, 2, 3, 4, 5, 6]

In [167]:
# sort alphabetically by first name
sorted(data, key=lambda item: item['first'])

[{'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [168]:
# sort by year of birth
sorted(data, key=lambda item: item['YOB'])

[{'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]